In [2]:
#First start with an intro to Numpy

#Create a list of 1,000,000 salaries ranging from 50,000 to 150,000

import random

salary_list = [random.randint(50000, 150000) for _ in range(1000000)]

In [4]:
import statistics

In [5]:
%%timeit
statistics.mean(salary_list)

82.6 ms ± 45.5 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
import numpy as np

In [8]:
%%timeit
np.mean(salary_list)

23.8 ms ± 143 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [9]:
#here are some basic operations with numpy

my_array = np.array([1, 2, 3, 4])
my_array.mean()

2.5

In [19]:
#trying to add another job title but don't know the salary
#np.nan is not a number, and it's a float type

job_titles = np.array(["Data Analyst", "Data Scientist", "Data Engineer", "Machine Learning Engineer", "AI Engineer"])

base_salaries = np.array([60000, 80000, 75000, 90000, np.nan])

bonus_rates = np.array([0.05, 0.1, 0.08, 0.12, np.nan])

In [20]:
total_salaries = base_salaries * (1 + bonus_rates)

total_salaries

array([ 63000.,  88000.,  81000., 100800.,     nan])

In [22]:
np.nanmean(total_salaries)

83200.0